In [1]:
import numpy as np
import pandas as pd 
import os
import cv2

In [2]:
pokemons = pd.read_csv('pokemon_jpg/pokemon_jpg_csv/pokemon.csv')
numbers = []
for i in range(1,pokemons.shape[0]+1):
    numbers.append(i)
pokemons['pkn'] = numbers
IMG_DIR = 'pokemon_jpg/pokemon_jpg'
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir(IMG_DIR) if isfile(join(IMG_DIR, f))]

In [5]:
import re
dataframe_img = pd.DataFrame([])
images = []
pokemon_number = []
for img in onlyfiles:
    if not re.search('-', img):
        pkn = img.split('.')
        n = re.sub("[^0-9]", "", pkn[0])
        path = IMG_DIR +'/' +str(img)
        images.append(path)
        pokemon_number.append(n)
dataframe_img['images_local'] = images
dataframe_img['pkn'] = pokemon_number
dataframe_img['pkn'] = dataframe_img['pkn'].astype(int)
dataframe_img['pkn'] = dataframe_img['pkn'].astype(int)
result = pokemons.merge(dataframe_img, left_on='pkn', right_on='pkn')
result.head()

         Name  Type1   Type2  pkn                   images_local
0   bulbasaur  Grass  Poison    1  pokemon_jpg/pokemon_jpg/1.jpg
1     ivysaur  Grass  Poison    2  pokemon_jpg/pokemon_jpg/2.jpg
2    venusaur  Grass  Poison    3  pokemon_jpg/pokemon_jpg/3.jpg
3  charmander   Fire     NaN    4  pokemon_jpg/pokemon_jpg/4.jpg
4  charmeleon   Fire     NaN    5  pokemon_jpg/pokemon_jpg/5.jpg

In [6]:
p_result = result[['Name','Type1','images_local']]

In [7]:
p_result.head(15)

          Name  Type1                    images_local
0    bulbasaur  Grass   pokemon_jpg/pokemon_jpg/1.jpg
1      ivysaur  Grass   pokemon_jpg/pokemon_jpg/2.jpg
2     venusaur  Grass   pokemon_jpg/pokemon_jpg/3.jpg
3   charmander   Fire   pokemon_jpg/pokemon_jpg/4.jpg
4   charmeleon   Fire   pokemon_jpg/pokemon_jpg/5.jpg
5    charizard   Fire   pokemon_jpg/pokemon_jpg/6.jpg
6     squirtle  Water   pokemon_jpg/pokemon_jpg/7.jpg
7    wartortle  Water   pokemon_jpg/pokemon_jpg/8.jpg
8    blastoise  Water   pokemon_jpg/pokemon_jpg/9.jpg
9     caterpie    Bug  pokemon_jpg/pokemon_jpg/10.jpg
10     metapod    Bug  pokemon_jpg/pokemon_jpg/11.jpg
11  butterfree    Bug  pokemon_jpg/pokemon_jpg/12.jpg
12      weedle    Bug  pokemon_jpg/pokemon_jpg/13.jpg
13      kakuna    Bug  pokemon_jpg/pokemon_jpg/14.jpg
14    beedrill    Bug  pokemon_jpg/pokemon_jpg/15.jpg